<div>
    <h2>Compartir Alarmas </h2>
    <mat-grid-list cols="3" rowHeight="1.9:1">        
        <mat-grid-tile>
            <div class="combo">
                <h4>Hora:</h4> 
                <div class="time-selector-container">
                    <mat-form-field appearance="outline" class="time-field">
                      <input matInput [(ngModel)]="hours" placeholder="HH" maxlength="2" type="text" (input)="formatHours()">
                      <mat-hint align="start">Hora</mat-hint>
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline" class="time-field">
                      <input matInput [(ngModel)]="minutes" placeholder="MM" maxlength="2" type="text" (input)="formatMinutes()">
                      <mat-hint align="start">Minutos</mat-hint>
                    </mat-form-field>
                  
                    <mat-form-field *ngIf="is12HourClock" appearance="outline" class="time-field ampm-field">
                      <mat-select [(ngModel)]="ampm">
                        <mat-option value="AM">AM</mat-option>
                        <mat-option value="PM">PM</mat-option>
                      </mat-select>
                      <mat-hint align="start">AM/PM</mat-hint>
                    </mat-form-field>
                  </div>
            </div>  
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="combo">
                <h4>Dias</h4> 
                <div class="example-button-container">
                    <div>
                        <button mat-fab extended [ngClass]="{'active': isSelected('L')}" (click)="toggleSelection('L')">
                            L
                          </button>
                          <button mat-fab extended [ngClass]="{'active': isSelected('M')}" (click)="toggleSelection('M')">
                            M
                          </button>
                          <button mat-fab extended [ngClass]="{'active': isSelected('MI')}" (click)="toggleSelection('MI')">
                            MI
                          </button>
                          <button mat-fab extended [ngClass]="{'active': isSelected('J')}" (click)="toggleSelection('J')">
                            J
                          </button>
                    </div>
                  <div>
                    <button mat-fab extended [ngClass]="{'active': isSelected('V')}" (click)="toggleSelection('V')">
                        V
                      </button>
                      <button mat-fab extended [ngClass]="{'active': isSelected('S')}" (click)="toggleSelection('S')">
                        S
                      </button>
                      <button mat-fab extended [ngClass]="{'active': isSelected('D')}" (click)="toggleSelection('D')">
                        D
                      </button>
                      
                  </div>                      
                    
                </div>
              
            </div>  
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="combo">
                <h4>Email:</h4> 
                <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Digite email</mat-label>
                    <input matInput placeholder="email@dominio.com" value="Nombre email">
                    
                </mat-form-field>
                <button mat-stroked-button class="edit-button" >Compartir</button> 
            </div>      
                                          
                
            </div>   
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="combo">
              
                <div class="time-selector-container">
                    <mat-form-field appearance="outline" class="time-field">
                      <input matInput [(ngModel)]="hours" placeholder="HH" maxlength="2" type="text" (input)="formatHours()">
                      <mat-hint align="start">Hora</mat-hint>
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline" class="time-field">
                      <input matInput [(ngModel)]="minutes" placeholder="MM" maxlength="2" type="text" (input)="formatMinutes()">
                      <mat-hint align="start">Minutos</mat-hint>
                    </mat-form-field>
                  
                    <mat-form-field *ngIf="is12HourClock" appearance="outline" class="time-field ampm-field">
                      <mat-select [(ngModel)]="ampm">
                        <mat-option value="AM">AM</mat-option>
                        <mat-option value="PM">PM</mat-option>
                      </mat-select>
                      <mat-hint align="start">AM/PM</mat-hint>
                    </mat-form-field>
                  </div>
            </div>  
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="combo">
        
                <div class="example-button-container">
                    <div>
                        <button mat-fab extended [ngClass]="{'active': isSelected('L2')}" (click)="toggleSelection('L2')">
                            L
                          </button>
                          <button mat-fab extended [ngClass]="{'active': isSelected('M2')}" (click)="toggleSelection('M2')">
                            M
                          </button>
                          <button mat-fab extended [ngClass]="{'active': isSelected('MI2')}" (click)="toggleSelection('MI2')">
                            MI
                          </button>
                          <button mat-fab extended [ngClass]="{'active': isSelected('J2')}" (click)="toggleSelection('J2')">
                            J
                          </button>
                    </div>
                  <div>
                    <button mat-fab extended [ngClass]="{'active': isSelected('V2')}" (click)="toggleSelection('V2')">
                        V
                      </button>
                      <button mat-fab extended [ngClass]="{'active': isSelected('S2')}" (click)="toggleSelection('S2')">
                        S
                      </button>
                      <button mat-fab extended [ngClass]="{'active': isSelected('D2')}" (click)="toggleSelection('D2')">
                        D
                      </button>
                      
                  </div>                      
                    
                </div>
              
            </div>  
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="combo">
                
                <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Digite email</mat-label>
                    <input matInput placeholder="email@dominio.com" value="Nombre email">
                    
                </mat-form-field>
                <button mat-stroked-button class="edit-button" >Compartir</button> 
            </div>      
                                          
                
            </div>   
        </mat-grid-tile>
       
        
      </mat-grid-list>
    <div class="image-container" style="position: relative;"></div>
    <img src="assets/images/abajo.png" alt="Image description" style="position: absolute; bottom: 0; right: 0;">
</div>